<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rumos Digital Bank - Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vasco Gonçalves">
    <meta name="description" content="Banking Application">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
    <link rel="stylesheet" type="text/css" href="/template.css">

    <style>
        form {
            overflow: auto;
            height: 480px;
            width: 700px;
            position: absolute;
            scrollbar-width: none;
        }

        .shape:first-child {
            left: -220px;
            top: -70px;
        }

        .shape:last-child {
            right: -220px;
            bottom: -70px;
        }

        button {
            width: 40%;
            display: grid;
            margin: auto;
        }

    </style>
</head>

<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div class="accounts-form">
    <form th:action="@{/accounts}" th:object="${account}" method="get">

        <h3>Accounts</h3>

        <table>
            <thead>
            <tr>
                <th>Account Number</th>
                <th>Balance</th>
                <th>Primary Holder</th>
                <th>Secondary Holder</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.balance}"></td>
                <td th:text="${account.primaryHolder}"></td>
                <td th:text="${account.secondaryHolder}"></td>
                <td><a class="linkable" th:href="@{/accounts/selectedAccounts}">Edit</a></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="window.location.href='/accounts/addAccount';">Create Account</button>
        <a class="linkable" th:href="@{/logout}">Logout</a>
    </form>

    <footer>
        <p>&copy; 2023 Rumos Digital Bank</p>
    </footer>
</div>
</body>
</html>