<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Rumos Digital Bank - Cards</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=9"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Vasco Gonçalves">
  <meta name="description" content="Banking Application">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
  <link rel="stylesheet" type="text/css" href="/template.css">

  <style>
    form {
      overflow: auto;
      height: 480px;
      width: 550px;
      position: absolute;
      scrollbar-width: none;
    }

    .shape:first-child {
      left: -150px;
      top: -70px;
    }

    .shape:last-child {
      right: -150px;
      bottom: -70px;
    }

    button {
      width: 40%;
      display: grid;
      margin: auto;
    }

  </style>
</head>

<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<div class="cards-form">
  <form th:action="@{/cards-create}" th:object="${card}" method="post">

    <h3>Cards</h3>

    <table>
      <thead>
      <tr>
        <th>Card Number</th>
        <th>Client</th>
        <th>Account</th>
        <th>Details</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="card : ${cards}">
        <td th:text="${card.cardNumber}"></td>
        <td th:text="${card.fiscalNumber}"></td>
        <td th:text="${card.accountNumber}"></td>
        <td><a class="linkable" th:href="@{/cards-update}" style="font-weight: 450">Edit</a></td>
        <td><a class="linkable" th:href="@{/cards-delete}" style="font-weight: 450">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <button type="button" onclick="window.location.href='/cards-create';">Add Card</button>
    <a class="linkable" th:href="@{/logout}">Logout</a>
  </form>

  <footer>
    <p>&copy; 2023 Rumos Digital Bank</p>
  </footer>
</div>
</body>
</html>