<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rumos Digital Bank - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vasco Goncalves">
    <meta name="description" content="Banking Application">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
    <link rel="stylesheet" type="text/css" href="/template.css">

    <style>
        .shape:first-child {
            top: -10px;
        }

        .shape:last-child {
            bottom: -10px;
        }

        form h4 {
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            margin-top: 20px;
        }

        button {
            margin-top: 30px;
        }

        form {
            height: 350px;
        }
    </style>
</head>

<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div class="form">
    <form th:action="@{/login}" th:object="${client}" th:method="get">
        <h3>Welcome to Rumos Digital Bank!</h3>

        <h4>Your bank - anytime, anywhere</h4>

        <button type="submit">Start</button>
    </form>

    <footer>
        <p>&copy; 2023 Rumos Digital Bank</p>
    </footer>
</div>
</body>
</html>